html {
  background-color: black;
    
}
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #9baa78;
  color: #333;
  border: 1px solid #9baa78;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 1px 1px #ccc;
}

h1 {
  font-size: 50px;
  margin: 40px 0 20px 0;
  text-shadow: 1px 1px #ccc;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 40px 0 20px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  margin: 20px 10px;
  border-radius: 10px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #fff;
  color: #333;
}

table {
  margin: 40px auto;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: #fff;
  text-shadow: 1px 1px #333;
}

/* center images */
div.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img { 
  display: inline-block;
  margin: 5px auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 1px 1px #ccc;

}

a.padded {
  padding: 10px 12px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin: 20px 10px;
  border-radius: 10px;
}

a.padded:hover {
  background-color: #fff;
  color: #333;
}
